@charset "utf-8";

$rem: 75;

@mixin px-rem($name, $px){
  #{$name}: $px / $rem + rem;
}
@mixin flex($dir:row){
  display: flex;
  flex-direction: $dir;
}
%ul-none {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
